<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.anjas.educationvee">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/logo_red"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_red"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Ed-V">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorActivity"
            android:label="Materi" />
        <activity
            android:name=".JobsheetActivity"
            android:label="JobSheet" />
        <activity
            android:name=".AboutActivity"
            android:label="Seputar Ed-V" />
        <activity
            android:name=".InterfaceActivity"
            android:label="Interfacing" />
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ExcerciseActivity" />
        <activity android:name=".DetailJobsheetActivity" />
        <activity android:name=".LangkahKerjaActivity" />
        <activity android:name=".LatihanActivity"></activity>
    </application>

</manifest>